html{
    background-color: hsl(217, 54%, 11%);
}
p{
    font-family: 'Outfit', sans-serif;
}
.container{
    border-radius: 15px;
    border-style: none;
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 520px;
    margin-left: 500px;
    margin-top: 70px;
}

.nft{  
    margin-top: 20px;
    width: 250px;
    border-radius: 5px;
    margin-left: 25px;
}


.title{
    color: white;
    margin-left: 25px;
    font-size: 18px;
}
.description{
    font-weight: 300;
    width: 250px;
    color: hsl(215, 51%, 70%);
    margin-left: 25px;
    font-size: 15px;
    line-height: 20px;
}
.eth{
    font-weight: 600;
    display: inline-block;
    color: hsl(178, 100%, 50%);
    vertical-align: middle;
    font-size: 13px;
}
.icon{
    vertical-align: middle;
    margin-left: 25px;
}
.icon2{
    vertical-align: middle;
    margin-left: 90px;
}
.time{
    display: inline-block;
    vertical-align: middle;
    color: hsl(215, 51%, 70%);
    font-size: 13px;
}
.line{
    height:0.5px;
    border-width:0;
    width: 250px;
    background-color:hsl(215, 32%, 27%);
}
.avatar{
    width: 30px;
    vertical-align: middle;
    margin-left: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
}
.creation{
    display: inline-block;
    vertical-align: middle;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    margin-left: 10px;
}
.jules{
    color: white;
}
.jules:hover, .title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
